[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "tuna"

[[source]]
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true
name = "aliyun"

[packages]
jupyterlab = "*"
openai = "*"
google-generativeai = "*"
langchain = "*"
langchain-community = "*"
langchain-openai = "*"

[dev-packages]

[requires]
python_version = "3.13"
